modules/lead/lead-business/src/main/resources/WSDL/amplifica.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions 
targetNamespace="http://198.100.158.107/wunderman/" 
      xmlns:tns="http://198.100.158.107/wunderman/" 
xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
 xmlns:s="http://www.w3.org/2001/XMLSchema" 
 xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
 xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/">
  <wsdl:types>
    <s:schema targetNamespace="http://198.100.158.107/wunderman/">
      <s:complexType name="lead">
        <s:annotation>
          <s:documentation>Object lead</s:documentation>
        </s:annotation>
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" nillable="false" name="id" type="s:int">
            <s:annotation>
              <s:documentation>ID LEAD WUNDERMAN</s:documentation>
            </s:annotation>
          </s:element>
          <s:element minOccurs="1" maxOccurs="1" nillable="true" name="type" type="s:string">
            <s:annotation>
              <s:documentation>LEAD TYPE VALUES C2C,CMB,COB,REF</s:documentation>
            </s:annotation>
          </s:element>
          <s:element minOccurs="1" maxOccurs="1" nillable="true" name="product" type="s:string">
            <s:annotation>
              <s:documentation>PRODUCTO VALUES MULTIPRODUCTO,PORTABILIDAD,POSPAGO,PREPAGO</s:documentation>
            </s:annotation>
          </s:element>
          <s:element minOccurs="1" maxOccurs="1" nillable="true" name="phone" type="s:string">
            <s:annotation>
              <s:documentation>PHONE 10 DIGIT VERIFIED WITH PNN MX</s:documentation>
            </s:annotation>
          </s:element>
          <s:element minOccurs="1" maxOccurs="1" nillable="true" name="name" type="s:string"/>
          <s:element minOccurs="1" maxOccurs="1" nillable="true" name="surname" type="s:string"/>
          <s:element minOccurs="1" maxOccurs="1" nillable="true" name="email" type="s:string"/>
          <s:element minOccurs="1" maxOccurs="1" nillable="true" name="dateTimeScheduled" type="s:string">
            <s:annotation>
              <s:documentation>DATE TIME SCHEDULE OR NULL FORMAT YYYY-MM-DD HH:MM:SS</s:documentation>
            </s:annotation>
          </s:element>
          <s:element minOccurs="1" maxOccurs="1" nillable="true" name="extra" type="s:string"/>
          <s:element minOccurs="1" maxOccurs="1" nillable="true" name="utm" type="s:string"/>
          <s:element minOccurs="1" maxOccurs="1" nillable="true" name="url" type="s:string"/>
          <s:element minOccurs="1" maxOccurs="1" nillable="false" name="outOfTime" type="s:int">
            <s:annotation>
              <s:documentation>Flag fuera de horario, 1 - En horario null o 0 entra en producción.</s:documentation>
            </s:annotation>
          </s:element>
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="sendLeadSoapIn">
    <wsdl:part name="lead" type="tns:lead">
      <s:documentation>lead object</s:documentation>
    </wsdl:part>
    <wsdl:part name="rdph" type="s:int"/>
    <wsdl:part name="natural" type="s:int"/>
  </wsdl:message>
  <wsdl:message name="sendLeadSoapOut">
    <wsdl:part name="return" type="s:string"/>
  </wsdl:message>
  <wsdl:portType name="wundermanEndSoap">
    <wsdl:operation name="sendLead" parameterOrder="lead rdph natural">
      <wsdl:documentation>sendLead($lead, $rdph, $natural)
                
                Parametros de entrada:
                
                lead::Obj => lead data
                rdph::int => reject duplicate phone for hours (default 6 hour)
                natural::int => tipo de lead, 1 organico 0 otros (default 0)
                
                CODIGOS DE RETORNO
                
                200 OPERACION REALIZADA EXITO MAS ID
                400 ERROR EN DATOS   DESCRIPCION
                500 ERROR INTERNO DEL SERVIDOR</wsdl:documentation>
      <wsdl:input message="tns:sendLeadSoapIn"/>
      <wsdl:output message="tns:sendLeadSoapOut"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="wundermanEndSoap" type="tns:wundermanEndSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"/>
    <wsdl:operation name="sendLead">
      <soap:operation soapAction="http://198.100.158.107/wunderman/sendLead"/>
      <wsdl:input>
        <soap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://198.100.158.107/wunderman/" parts="lead rdph natural"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://198.100.158.107/wunderman/" parts="return"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="wundermanEnd">
    <wsdl:port name="wundermanEndSoap" binding="tns:wundermanEndSoap">
      <soap:address location="http://198.100.158.107/wunderman/index.php"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
