modules/lead/lead-business/src/main/resources/WSDL/antento.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Insertar">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_Datos" type="tns:Datos"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Datos">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="_DatosContacto" type="tns:DatosContacto"/>
          <s:element minOccurs="1" maxOccurs="1" name="_DatosAgenda" type="tns:DatosAgenda"/>
          <s:element minOccurs="1" maxOccurs="1" name="_Campaña" type="tns:Campaña"/>
          <s:element minOccurs="1" maxOccurs="1" name="_DatosCore" type="tns:DatosCore"/>
        </s:sequence>
      </s:complexType>
      <s:complexType name="DatosContacto">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="IdLead" type="s:int"/>
          <s:element minOccurs="1" maxOccurs="1" name="Type" type="tns:Tipo"/>
          <s:element minOccurs="0" maxOccurs="1" name="ContryCode" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="Area" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="Phone" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="Surname" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="Mail" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="Product" type="s:string"/>
        </s:sequence>
      </s:complexType>
      <s:simpleType name="Tipo">
        <s:restriction base="s:string">
          <s:enumeration value="C2C"/>
          <s:enumeration value="CMB"/>
          <s:enumeration value="COV"/>
          <s:enumeration value="CALL"/>
        </s:restriction>
      </s:simpleType>
      <s:complexType name="DatosAgenda">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="DateScheduled" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="TimeScheduled" type="s:string"/>
        </s:sequence>
      </s:complexType>
      <s:complexType name="Campaña">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="IdCamp" type="s:int"/>
        </s:sequence>
      </s:complexType>
      <s:complexType name="DatosCore">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Priority" type="s:int"/>
          <s:element minOccurs="0" maxOccurs="1" name="Extra" type="s:string"/>
        </s:sequence>
      </s:complexType>
      <s:element name="InsertarResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="InsertarResult" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Response">
        <s:complexType/>
      </s:element>
      <s:element name="ResponseResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ResponseResult" type="s:int"/>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="InsertarSoapIn">
    <wsdl:part name="parameters" element="tns:Insertar"/>
  </wsdl:message>
  <wsdl:message name="InsertarSoapOut">
    <wsdl:part name="parameters" element="tns:InsertarResponse"/>
  </wsdl:message>
  <wsdl:message name="ResponseSoapIn">
    <wsdl:part name="parameters" element="tns:Response"/>
  </wsdl:message>
  <wsdl:message name="ResponseSoapOut">
    <wsdl:part name="parameters" element="tns:ResponseResponse"/>
  </wsdl:message>
  <wsdl:portType name="Service1Soap">
    <wsdl:operation name="Insertar">
      <wsdl:input message="tns:InsertarSoapIn"/>
      <wsdl:output message="tns:InsertarSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="Response">
      <wsdl:input message="tns:ResponseSoapIn"/>
      <wsdl:output message="tns:ResponseSoapOut"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Service1Soap" type="tns:Service1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="Insertar">
      <soap:operation soapAction="http://tempuri.org/Insertar" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Response">
      <soap:operation soapAction="http://tempuri.org/Response" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Service1Soap12" type="tns:Service1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="Insertar">
      <soap12:operation soapAction="http://tempuri.org/Insertar" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Response">
      <soap12:operation soapAction="http://tempuri.org/Response" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="Service1Soap" binding="tns:Service1Soap">
      <soap:address location="https://leviatan.atento.com.mx/CoLWS/service1.asmx"/>
    </wsdl:port>
    <wsdl:port name="Service1Soap12" binding="tns:Service1Soap12">
      <soap12:address location="https://leviatan.atento.com.mx/CoLWS/service1.asmx"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>